.create-room-btn {
  position: absolute;
  bottom: 5rem;
  padding: 1rem;
  right: 50%;
  transform: translateX(50%);
}

.form-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
}
