.App {
  text-align: center;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

.auth-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
  max-width: 20rem;
  border: 1px solid var(--black-color);
  box-shadow: 2px 2px 0px var(--black-color);
  border-radius: 5px;
}

.auth-form input {
  width: 100%;
  padding: 2px 5px;
}

.link {
  color: inherit;
}

.btn {
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
}

.primary-btn {
  background-color: var(--primary-btn-bg-color);
  color: var(--white-color);
}

.error-btn {
  background-color: var(--error-color);
}

.header {
  position: relative;
}

.text-left {
  text-align: left;
}

.hide {
  display: none;
}
